
body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}
h1 {
font-weight: normal;
font-size: 50px;
color: white;
text-align: center;
}
.cta {
  color: Aquamarine;
  font-size: 16px;
}
h2 {
  font-weight: 300;
  font-size: 42px
  color: white;
  text-align: center;
}
.footer {
  color: Gray;
  text-align: right;
  font-size: 21px;
}
p {
  font-size: 21px;
  color: Gray;
  text-align: center;
}
